@charset "utf-8";
.decoration {
  /* ここにCSSを書いていきます */
  font-size: 48px;
  /* color: red; */
  /* color: #f00; */
  color: rgb(255, 0, 0);
  /* font-weight: bold; */
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
  font-style: italic;
  line-height: 4.5;
  letter-spacing: 1.5em;
  /* text-decoration: underline; */
  text-decoration: line-through;
  /* borderプロパティの値にsolidを指定すると、実線になります */
  /* border: solid 3px red; */
  /* dottedを指定すると、点線になります */
  /* border: dotted 3px red; */
  /* dashedは破線 */
  /* border: dashed 3px red; */
    /* doubleは二重線 */
    /* border: double 3px red; */
    border-top: double 3px red;
    border-bottom: dotted 3px blue;
    border-left: dashed 3px green;
    border-right: double 3px gray;
    background-color: green;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
}

.text-bold {
  font-weight: bold;
}