@charset "utf-8";
.parent {
  /* width: 300px; */
  /* width: 100%; */
  width: auto;
  background-color: yellow;
}
.children {
  /* width: 150px; */
  /* width: 50%;
  min-width: 300px; */
  width: 80%;
  max-width: 600px;
  /* width: auto; */
  background-color: orange;
}